Checks: >-
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  concurrency-*,
  google-*,
  linuxkernel-*,
  llvm-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-assignment-in-if-condition,
  -bugprone-easily-swappable-parameters,
  -bugprone-suspicious-include,
  -clang-analyzer-security.insecureAPI.*,
  -google-readability-braces-around-statements,
  -llvm-header-guard,
  -misc-unused-parameters,
  -modernize-macro-to-enum,
  -readability-braces-around-statements,
  -readability-identifier-length,
  -readability-isolate-declaration,
  -readability-magic-numbers

HeaderFilterRegex: 'src/.*'
InheritParentConfig: true
WarningsAsErrors: '*'
