---
Checks: >-
  -*,
  bugprone-*,
  -bugprone-assignment-in-if-condition,
  -bugprone-easily-swappable-parameters,
  cert-*,
  clang-analyzer-*,
  concurrency-*,
  google-*,
  -google-readability-braces-around-statements,
  linuxkernel-*,
  llvm-*,
  -llvm-header-guard,
  misc-*,
  -misc-unused-parameters,
  modernize-*,
  -modernize-macro-to-enum,
  performance-*,
  portability-*,
  readability-*,
  -readability-braces-around-statements,
  -readability-identifier-length,
  -readability-isolate-declaration
HeaderFilterRegex: 'src/.*'
InheritParentConfig: true
...
